@media (min-width: 768px) {
  .f-lookbook .f-column--expanded {
    grid-column: auto/span var(--grid-cols);
  }
}
.f-lookbook__product-wrapper .flickity-wrapper.flickity-controls-group__bottom.flickity-show-controls {
  padding-bottom: calc(var(--button-size, 4rem) + 2.8rem);
}
@media (max-width: 767.98px) {
  .f-lookbook__product-wrapper .flickity-wrapper.flickity-controls-group__bottom.flickity-show-controls {
    padding-bottom: calc(var(--button-size, 4rem) + 0.8rem);
  }
}

.f-lookbook-card__annotation {
  cursor: pointer;
  display: inline-flex;
  transform: translate(-50%, -50%);
}
.f-lookbook-card__annotation:after {
  content: "";
  height: 60px;
  width: 20px;
  position: absolute;
  display: none;
  top: -20px;
  left: 0;
}
.f-lookbook-card__annotation.is-active, .f-lookbook-card__annotation:hover, .f-lookbook-card__annotation:focus {
  z-index: 1;
}
.f-lookbook-card__annotation.is-active:after, .f-lookbook-card__annotation--hovering:after {
  display: block;
}
@media (min-width: break-point("md")) {
  .f-lookbook-card__annotation:hover:after {
    display: block;
  }
}
.f-lookbook-card__annotation.is-active > span > svg, .f-lookbook-card__annotation--hovering > span > svg {
  transform: rotate(180deg);
}
@media (min-width: break-point("md")) {
  .f-lookbook-card__annotation:hover > span svg {
    transform: rotate(180deg);
  }
}
.f-lookbook-card__annotation.left:after {
  right: 0;
  left: auto;
}
.f-lookbook-card__pin {
  --pin-color: #fff;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  pointer-events: none;
}
.f-lookbook-card__pin-icon {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  background: var(--pin-color);
  color: var(--pin-color);
}
.f-lookbook-card__pin-icon:before, .f-lookbook-card__pin-icon:after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: 1.5s theLookDot ease-in-out infinite;
  pointer-events: none;
}
.f-lookbook-card__pin-icon:before {
  animation-delay: 1s;
}
.f-lookbook-card__pin--dark {
  --pin-color: #000;
}
.f-lookbook-card__product {
  top: 100%;
  z-index: 11;
  left: -100%;
  width: 25rem;
  padding: 1rem;
  overflow: hidden;
  transition: 0.3s all;
  opacity: 0;
  visibility: visible;
  transform: translate3d(0, 10px, 0);
  pointer-events: none;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.04);
  cursor: auto;
}
@media (max-width: 767.98px) {
  .f-lookbook-card__product {
    top: 100% !important;
    bottom: auto !important;
  }
}
@media (min-width: 1024px) {
  .f-lookbook-card__product {
    width: 29.8rem;
  }
}
.f-lookbook-card__product:before {
  content: "";
  position: absolute;
  left: 0;
  height: 20px;
  width: 100%;
  bottom: 100%;
  display: block;
  z-index: 12;
}
.f-lookbook-card__annotation:hover .f-lookbook-card__product {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}
.f-lookbook-card__annotation--slider:not(.is-active):hover .f-lookbook-card__product {
  opacity: 0;
  visibility: hidden;
}
.f-lookbook-card__annotation.is-active .f-lookbook-card__product {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}
@media (max-width: 767.98px) {
  .f-lookbook-card__annotation.is-active .f-lookbook-card__product {
    animation: f-fade-in 0.45s ease;
    display: flex;
  }
}
.f-lookbook-card__product a {
  display: inline-block;
  font-size: 14px;
}
.f-lookbook-card__product-info {
  align-self: center;
}
.f-lookbook-card__product-image {
  width: 80px;
  margin-inline-end: 1rem;
}
.f-lookbook-card__product-image .f-image {
  border-radius: var(--btn-rounded, 0px);
}
@media (min-width: 1024px) {
  .f-lookbook-card__product-image {
    width: 10rem;
    margin-inline-end: 1.2rem;
  }
}
.f-lookbook-card__product .btn {
  display: inline-flex;
  margin-top: 0;
}
.f-lookbook-card__product-title {
  margin-bottom: 0;
}
.f-lookbook-card__product-price {
  color: var(--color-product-price);
  margin: 0 0 0.8rem;
}
.left .f-lookbook-card__product {
  right: 0;
  left: auto;
}
.top .f-lookbook-card__product {
  bottom: 100%;
  margin-bottom: 5px;
  top: auto;
  transform: translate3d(0, -10px, 0);
}
@media (max-width: 767.98px) {
  .f-lookbook-card__product {
    flex-flow: column;
    width: 150px;
    padding: 1.5rem;
  }
  .f-lookbook-card__product-image {
    width: 100%;
    margin: 0 0 1rem;
  }
}

[data-block-type=lookbook]:hover {
  z-index: 1;
}

@keyframes theLookDot {
  from {
    opacity: 0.4;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}
lookbook-card-slider .product-card {
  transition: 0.3s all;
}
lookbook-card-slider .f-lookbook-card__product {
  width: 20rem;
}
@media (min-width: 768px) {
  lookbook-card-slider.is-hovering .product-card:not(.is-active) {
    opacity: 0.3;
  }
  lookbook-card-slider .product-card > .product-card__actions {
    display: none;
  }
}

@media (min-width: 768px) {
  .f-lookbook__product-wrapper--left {
    padding-inline: 5rem 0;
  }
  .f-lookbook__product-wrapper--right {
    padding-inline: 0 5rem;
  }
  .f-lookbook__product-slider {
    width: var(--slider-viewport-width, 100%);
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .f-lookbook__product-wrapper--left {
    padding-inline-end: 5rem;
  }
  .f-lookbook__product-wrapper--right {
    padding-inline-start: 5rem;
  }
}
@media (min-width: 1280px) {
  .f-lookbook__product-wrapper--left {
    padding-inline-start: 10rem;
  }
  .f-lookbook__product-wrapper--right {
    padding-inline-end: 10rem;
  }
}
@media (max-width: 767.98px) {
  .f-lookbook-card .f-lookbook-card__product {
    width: 16rem;
  }
  .f-lookbook__product-wrapper {
    margin-top: 1.2rem;
  }
  .f-lookbook__product-wrapper flickity-component .f-column {
    width: 100% !important;
  }
  .f-lookbook__product-wrapper .product-card {
    position: relative;
    padding: 1rem;
    border: 0.1rem solid var(--color-border);
  }
  .f-lookbook__product-wrapper .product-card__wrapper {
    display: flex;
  }
  .f-lookbook__product-wrapper .product-card.quick-add-enabled .product-card__wrapper {
    margin-inline-end: 5rem;
  }
  .f-lookbook__product-wrapper .product-card__image-wrapper {
    width: 9rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .f-lookbook__product-wrapper .product-card__image-wrapper .deferred-media {
    width: 100%;
  }
  .f-lookbook__product-wrapper .product-card__image-wrapper .product-card__badge,
  .f-lookbook__product-wrapper .product-card__image-wrapper .product-card__actions {
    display: none;
  }
  .f-lookbook__product-wrapper .product-card > .product-card__options {
    display: none;
  }
  .f-lookbook__product-wrapper .product-card__atc-text {
    display: none;
  }
  .f-lookbook__product-wrapper .product-card__atc-icon {
    display: flex;
  }
  .f-lookbook__product-wrapper .product-card__actions {
    width: auto;
    bottom: 0;
    inset-inline: auto -5rem;
  }
  .f-lookbook__product-wrapper .product-card__actions .btn {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 0.4rem;
    background: var(--color-btn-secondary-bg);
    color: var(--color-btn-secondary-text);
  }
  .f-lookbook__product-wrapper .product-card__quickview {
    display: none;
  }
  .f-lookbook__product-wrapper .product-card__info {
    margin-top: 0;
    padding-inline-start: 1.2rem;
    text-align: left;
    flex: 1;
  }
  .f-lookbook__product-wrapper .product-card__info .f-price {
    justify-content: flex-start;
  }
  .f-lookbook__product-wrapper .product-card__info .product-card__options {
    position: relative;
    z-index: 2;
  }
  .f-lookbook__product-wrapper .product-card__info .product-card__options .product-card__swatch {
    justify-content: flex-start;
  }
}
