.product-bundle__product {
  padding: 1.2rem 0;
}
.product-bundle__product-image {
  width: 8rem;
  flex: 0 0 auto;
  margin-inline-end: 2rem;
}
.product-bundle__product-prices {
  margin-top: 0.5rem;
  padding-inline-start: 2rem;
}
@media (max-width: 767.98px) {
  .product-bundle__product-info {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .product-bundle__product-prices {
    padding-inline-start: 0;
  }
}
.product-bundle__variant-picker {
  margin-top: 12px;
  width: auto;
  min-width: 150px;
  max-width: 250px;
  font-size: 13px;
  height: 40px;
  line-height: 38px !important;
}
@media (max-width: 639.98px) {
  .product-bundle__variant-picker {
    max-width: 180px;
  }
}
.product-bundle__footer {
  margin-top: 15px;
}
.product-bundle__footer .price {
  font-size: var(--font-h5-size);
  flex-flow: row !important;
}
.product-bundle__footer .price span + span {
  margin-inline-start: 1rem;
}
.product-bundle__cta {
  margin-top: 20px;
}
.product-bundle__cta .btn {
  font-weight: bold;
}
.product-bundle .price--on-sale .price__sale {
  flex-flow: column;
}
.product-bundle .price-item {
  margin-inline-end: 0;
}
.product-bundle .price {
  text-align: right;
  display: flex;
  flex-flow: column;
}
.product-bundle .price [data-saved-price] {
  color: rgba(var(--color-foreground), 1);
  text-decoration: line-through;
}
.product-bundle .price [data-saved-price]:empty {
  display: none;
}
@media (max-width: 767.98px) {
  .product-bundle .price.f-hidden__mobile {
    display: none;
  }
}
.product-bundle .price-regular {
  display: none;
}
.product-bundle .price--on-sale .price-regular {
  display: block;
}
.product-bundle__error .f-notification {
  margin-top: 12px;
}

.f-custom__block--text_box .f-scrolling-promotion {
  margin-block: 1.6rem;
}
.f-custom__block--text_box .f-text-blocks {
  padding: 4rem 1.5rem;
}

@media (max-width: 767.98px) {
  .f-custom__block--product_list .flickity-wrapper.flickity-controls-group__bottom.flickity-show-controls {
    padding-bottom: 0;
  }
}
