.f-newsletter__form {
  max-width: 100%;
}
.f-newsletter__form--boxed {
  padding: 3.6rem 4rem 4rem;
  border-radius: var(--btn-rounded, 0px);
}
.f-newsletter__form h2 {
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .f-newsletter__form {
    width: 54rem;
  }
}
.f-newsletter .newsletter-form {
  margin-top: 2.4rem;
}
.f-newsletter__description {
  margin-top: 1.6rem;
  color: rgba(var(--color-foreground), 0.7);
}
.f-newsletter__description * {
  color: inherit;
}
.f-newsletter__description a {
  text-decoration: underline;
}
