.promotion-banner__content {
  --text-blocks-gap: 1.2rem;
  --text-btn-gap: 2.4rem;
  gap: 6.4rem 0;
}
.promotion-banner__content > .f-column {
  padding-inline: 1.5rem;
}
@media (min-width: 768px) {
  .promotion-banner__content > .f-column {
    padding-inline: 2.4rem;
  }
}
.promotion-banner__content .f-text-blocks {
  width: var(--content-width, 100%);
  max-width: 100%;
}
.promotion-banner__content .f-line-block::after {
  content: "";
  display: block;
  width: 0.1rem;
  height: 100%;
  background-color: rgba(var(--color-foreground), 0.2);
  position: absolute;
  top: 50%;
  inset-inline: 100% auto;
  transform: translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .promotion-banner__content .f-line-block::after {
    width: auto;
    height: 0.1rem;
    top: auto;
    bottom: -3.2rem;
    inset-inline: 1.5rem;
    transform: translate(0, 50%);
  }
}
