[dir=rtl] {
  --transform-origin-start: right;
  --transform-origin-end: left;
}
[dir=rtl] .f-rlt-reverse-x {
  transform: scaleX(-1);
}
[dir=rtl] .f-rlt-reverse-y {
  transform: scaleY(-1);
}
[dir=rtl] select {
  background-position-x: 12px;
}
[dir=rtl] blockquote {
  border-left: unset;
  border-right: 0.2rem solid rgba(var(--color-foreground), 0.2);
}
[dir=rtl] input[type=email], [dir=rtl] input[type=tel], [dir=rtl] input[type=password] {
  direction: rtl;
  text-align: right;
}
[dir=rtl] .text-left {
  text-align: right;
}
[dir=rtl] .text-right {
  text-align: left;
}
[dir=rtl] .flickity-rtl .flickity-button .flickity-button-icon {
  transform: translate3d(-50%, -50%, 0) rotate(180deg);
}
[dir=rtl] .flickity-rtl .flickity-prev-next-button.previous {
  right: auto;
}
[dir=rtl] .flickity-wrapper.flickity-controls-group .flickity-button.next {
  right: auto;
}
[dir=rtl] .btn-view-details svg {
  transform: rotate(180deg);
}
[dir=rtl] .mobile-sticky-bar__link {
  border-right: unset;
  border-left: 1px solid var(--color-border);
}
[dir=rtl] .f-drawer:not([open]) {
  transform: translate3d(-100%, 0, 0);
}
[dir=rtl] .f-drawer:not([open]).f-drawer--left {
  transform: translate3d(100%, 0, 0);
}
[dir=rtl] .f-site-nav__sub-item .f-site-nav__arrow {
  transform: scaleX(-1) translateY(-50%);
}
[dir=rtl] .breadcrumbs--sep svg {
  transform: rotate(180deg);
}
[dir=rtl] .btn--with-icon .f-icon-arrow-right {
  transform: rotate(180deg);
}
[dir=rtl] .newsletter-form__submit svg {
  transform: translateX(2px) rotate(180deg);
}
[dir=rtl] .newsletter-form__submit:hover svg {
  transform: translateX(-2px) rotate(180deg);
}
[dir=rtl] [data-layout=horizontal] .f-image-comparison-slider__after {
  clip-path: inset(0px var(--percent, 50%) 0px 0px);
}
@media (min-width: 768px) {
  [dir=rtl] .f-testimonials--focused .flickity-wrapper .flickity-button.previous {
    right: calc(75% - 20px) !important;
    left: auto !important;
  }
  [dir=rtl] .f-testimonials--focused .flickity-wrapper .flickity-button.next {
    right: calc(75% - 75px) !important;
    left: auto !important;
  }
}
@media (min-width: 1536px) {
  [dir=rtl] .f-testimonials--focused .flickity-wrapper .flickity-button.previous {
    right: calc(75% - 120px) !important;
    left: auto !important;
  }
  [dir=rtl] .f-testimonials--focused .flickity-wrapper .flickity-button.next {
    right: calc(75% - 175px) !important;
    left: auto !important;
  }
}
[dir=rtl] .f-favorite-products .flickity-button {
  position: absolute;
}
[dir=rtl] .f-favorite-products .flickity-button.next {
  top: auto;
  bottom: 0;
  right: 0;
  margin: 0;
}
[dir=rtl] .f-favorite-products .flickity-button.previous {
  top: auto;
  bottom: 0;
}
[dir=rtl] .f-scrolling-promotion--left .f-promotion--animated {
  animation-name: scrolling-left-rtl;
}
[dir=rtl] .f-scrolling-promotion--right .f-promotion--animated {
  animation-name: scrolling-right-rtl;
}
@media (min-width: 1024px) {
  [dir=rtl] .products-bundle .products-bundle__content {
    padding-left: min(60px, var(--padding-right) * 0.6);
    padding-right: min(60px, var(--padding-left) * 0.6);
  }
}
[dir=rtl] .f-countdown-timer--minimal .f-countdown-timer__block:last-child div:after {
  display: block;
}
[dir=rtl] .f-countdown-timer--minimal .f-countdown-timer__block:first-child div:after {
  display: none;
}
[dir=rtl] .spr-container .spr-summary .spr-summary-actions {
  float: left;
}
[dir=rtl] .f-inventory-status f-progress-bar:after {
  left: auto;
  right: 0;
}
[dir=rtl] .f-pagination__item svg {
  transform: rotate(180deg);
}
[dir=rtl] .f-facets-price__range-group {
  background: linear-gradient(to left, #dfdfdf var(--price-min), #000 var(--price-min), #000 var(--price-max), #dfdfdf var(--price-max));
}
[dir=rtl] .f-article-template__prev-article-icon svg {
  transform: rotate(180deg);
}
[dir=rtl] .f-article-template__next-article-icon svg {
  transform: rotate(180deg);
}
[dir=rtl] .f-customer tfoot td:first-of-type {
  text-align: right;
}
[dir=rtl] .f-customer__addresses form > div {
  text-align: right;
}
[dir=rtl] .f-customer__addresses h1 + a svg {
  transform: rotate(180deg);
}
[dir=rtl] .f-customer__account a svg {
  transform: rotate(180deg);
}
[dir=rtl] .f-cart-items th {
  text-align: right;
}
@media (min-width: 640px) {
  [dir=rtl] .sm\:text-left {
    text-align: right;
  }
  [dir=rtl] .sm\:text-right {
    text-align: left;
  }
}
@media (min-width: 768px) {
  [dir=rtl] .md\:text-left {
    text-align: right;
  }
  [dir=rtl] .md\:text-right {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  [dir=rtl] .lg\:text-left {
    text-align: right;
  }
  [dir=rtl] .lg\:text-right {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  [dir=rtl] .xl\:text-left {
    text-align: right;
  }
  [dir=rtl] .xl\:text-right {
    text-align: left;
  }
}
@media (min-width: 1536px) {
  [dir=rtl] .xxl\:text-left {
    text-align: right;
  }
  [dir=rtl] .xxl\:text-right {
    text-align: left;
  }
}
@media (min-width: 640px) {
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--right .flickity-button.previous,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--right .flickity-button.previous {
    left: 0;
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--right .flickity-button.next,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--right .flickity-button.next {
    left: calc(var(--button-size, 4rem) + var(--pagination-width, 0px));
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--right .flickity-page-counter,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--right .flickity-page-counter {
    left: var(--button-size, 4rem);
    right: auto;
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--left .flickity-button.next,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--left .flickity-button.next {
    right: 0 !important;
    left: auto;
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--left .flickity-button,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--left .flickity-button {
    right: calc(var(--button-size, 4rem) + var(--pagination-width, 0px)) !important;
    left: auto;
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group__bottom--left .flickity-page-counter,
  [dir=rtl] .flickity-wrapper.flickity-controls-group__top--left .flickity-page-counter {
    right: var(--button-size, 4rem);
  }
}
@media (min-width: 768px) {
  [dir=rtl] .f-customer__order thead th:nth-last-child(-n+3),
  [dir=rtl] .f-customer__order td:nth-last-child(-n+3) {
    text-align: left;
  }
  [dir=rtl] .f-customer th,
  [dir=rtl] .f-customer td:first-of-type {
    text-align: right;
  }
  [dir=rtl] .f-cart-items *.right {
    text-align: left !important;
  }
}
@media (min-width: 1024px) {
  [dir=rtl] .f-facets--left,
  [dir=rtl] .f-facets--right {
    transform: none;
  }
}
@media (max-width: 767.98px) {
  [dir=rtl] lookbook-card-slider .product-card .product-card__info {
    text-align: right;
  }
  [dir=rtl] .flickity-wrapper.flickity-controls-group-mb .flickity-button.next {
    right: auto;
  }
  [dir=rtl] .f-customer td:before {
    text-align: right;
  }
}
